body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(Components/photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  color: rgb(97, 97, 88);
}
table {
  width: 40%;
  height: 40%;
  border-collapse: collapse;
  padding: 15px;
  color: rgb(93, 93, 77);
  margin-left: 45%;
  background-color: transparent;
}
table th,
table td {
  padding: 10px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #99b0c8;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}

button:hover {
  background-color: #0056b3;
}

select {
  width: 5%;
  border: 1px solid #32373c;
  border-radius: 10px;
  cursor: pointer;
  line-height: 1.1;
  padding: 5px;
  background-color: transparent;
}
select::-ms-expand {
  display: none;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  margin-left: 20%;
}
h3,
h2 {
  margin-left: 10%;
}
.New,
.Index,
.Show,
.Edit,
.Home {
  padding: 50px 0 0 50px;
  text-align: center;
}
.show-page,
.Edit-page,
.New-page {
  text-align: center;
  border: 1px solid #aab6e9;
  background-color: rgb(228, 226, 216);
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 600px;
  height: max-content;
  margin-left: 35%;
}
.Recipe a,
.New-recipe a,
.recipe-link {
  text-decoration: none;
  color: inherit;
}

.Recipe a:hover,
.recipe-link:hover {
  background-color: #f0ebc6;
}
.back {
  margin-left: 20%;
}
.showNavigation {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
