body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f8f9fa;
  background-image: url(Components/fresh-colourful-ingredients-mexican-cuisine_23-2148254294.avif);
  background-repeat: no-repeat;
background-size: cover;
}


table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding: 20px;
 
}

table th,
table td {
 border: 1px solid #dee2e6;
 padding: 10px;
  text-align: center;
}

table th {
  background-color: #e9ecef;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}

label {
  display: block;
  margin-top: 10px;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;


}
.New, .Index, .Show, .Edit, .Home{
  padding: 50px 0 0 50px;
  text-align: center;

}
.show-page, .Edit-page, .New-page {
  text-align: center;
  border: 1px solid #aab6e9;
   background-color: rgb(130, 199, 242);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px rgb(159, 159, 159);
  width: 600px;
  height: max-content;
  margin: auto;
  box-shadow: 5px 5px #588297;
}
